@charset "UTF-8";
::-webkit-scrollbar {
  width: 6px; /* ширина всей полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: #212121; /* цвет зоны отслеживания */
}

::-webkit-scrollbar-thumb {
  background: #343434;
}

body {
  margin: 0;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.flex-jc-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-jc-sa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

textarea {
  border: none;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("img/bg2.png") no-repeat center;
  background-size: cover;
}

.app {
  display: flex;
  border: 1px solid black;
  height: 550px;
  background: #191919;
  color: #b3b3b3;
}
.app input {
  color: #b3b3b3;
}
.app input:-webkit-autofill, .app input:-webkit-autofill:hover, .app input:-webkit-autofill:focus, .app input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #292929 inset !important;
  -webkit-text-fill-color: #b3b3b3 !important;
}
.app button {
  color: #b3b3b3;
  background: #292929;
  border: none;
  cursor: pointer;
}
.app button:hover {
  background: #343434;
}
.app input[name=hp] {
  font-weight: bold;
  color: rgb(184, 35, 35);
}
.app__characters-title-list {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  overflow: auto;
}
.app__windows-column {
  width: 300px;
  padding: 10px 40px;
  padding-right: 40px;
}
.app__ch-edit-form span {
  font-weight: bold;
}
.app__ch-edit-form input::-webkit-outer-spin-button,
.app__ch-edit-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.app__ch-edit-form input[name=name] {
  height: 34px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #191919;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background: #191919;
  color: #b3b3b3;
}
.app__ch-edit-form input[name=name]:focus {
  outline: none;
  border-bottom: 1px solid #b3b3b3;
}
.app__ch-edit-form input[name=hp], .app__ch-edit-form input[name=initiative] {
  text-align: center;
  width: 50px;
  height: 30px;
  border: none;
  background: #191919;
  color: #b3b3b3;
}
.app__ch-edit-form textarea {
  width: 98%;
  resize: none;
  background: #212121;
  color: #b3b3b3;
}
.app__corect-add {
  height: 220px;
  margin-top: 30px;
}
.app__corect-add input::-webkit-outer-spin-button,
.app__corect-add input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.app__corect-add input {
  height: 30px;
}

.form__add-ch-one, .form__add-ch-some {
  padding: 20px;
  background: #212121;
}
.form__add-ch-one div, .form__add-ch-some div {
  padding: 5px 0;
}
.form__add-ch-one input, .form__add-ch-some input {
  background: #292929;
  border: none;
}
.form__add-ch-one input[name=hp], .form__add-ch-some input[name=hp] {
  width: 50px;
}
.form__add-ch-one input[name=initiative], .form__add-ch-one input[name=modification], .form__add-ch-one input[name=amount], .form__add-ch-some input[name=initiative], .form__add-ch-some input[name=modification], .form__add-ch-some input[name=amount] {
  width: 80px;
}
.form__add-ch-one #k20, .form__add-ch-some #k20 {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 35px;
  height: 24px;
  background: #292929;
}
.form__add-ch-one #k20:hover, .form__add-ch-some #k20:hover {
  background: #343434;
}
.form__button {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.form__button button {
  width: 100px;
  height: 30px;
}

.ch {
  display: block;
  justify-content: space-between;
  padding: 5px 10px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: default;
  transition: 0.2s;
}
.ch:hover {
  background: #292929;
}
.ch__top {
  display: flex;
  justify-content: space-between;
}
.ch__name {
  max-width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ch__info {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.ch__hp {
  width: 35px;
}
.ch__hp b {
  color: rgb(184, 35, 35);
}
.ch__delete {
  cursor: pointer;
}
.ch__bottom {
  display: flex;
  line-height: 11px;
}
.ch__marks {
  display: flex;
  min-width: 60px;
}
.ch__marks div {
  display: block;
  width: 7px;
  height: 7px;
  margin: 0 3px;
  background: red;
  border-radius: 50%;
}
.ch__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777777;
  font-size: 14px;
  text-transform: none;
}

.window__buttons {
  display: flex;
  justify-content: space-between;
}
.window__buttons button {
  margin: 0 5px;
  padding: 4px 8px;
}/*# sourceMappingURL=style.css.map */
